# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.pyc
*.app


# latex
*.aux
*.log
*.gz
*temp*
IEEEtran*
IEEEtran/**

docker_stats

*.aux
*.log
*.synctex.gz
*.blg
*.bbl
.Ds_store
